<h2>
    Noticia
</h2>
<hr>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-danger" [routerLink]="['/noticias']">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn slow">
    <div class="col-sm-12 col-md-6">
        <form (ngSubmit)="guardar(forma)" #forma="ngForm">
            <!-- Titulo-->
            <div class="form-group">
                <label>Titulo de la noticia</label>
                <input type="text" class="form-control" [(ngModel)]="noticia.titulo" name="titulo" id="exampleFormControlInput1" placeholder="Titulo" required>
            </div>

            <!-- Descripcion -->
            <div class="form-group">
                <label>Descripción</label>
                <!--                 <input type="text" class="form-control" [(ngModel)]="noticia.descripcion" name="descripcion" placeholder="Descripcion" required>-->
                <textarea class="form-control" rows="5" [(ngModel)]="noticia.descripcion" name="descripcion" placeholder="Descripcion" required></textarea>
            </div>
            <hr>

            <!-- Boton submit -->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>