<h2>
    Detalle de la Noticia
</h2>
<hr>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-danger" [routerLink]="['/noticias']">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
    </div>
</div>
<div *ngIf="!cargando" class="row mt-3 animated fadeIn Faster">
    <div class="col">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">{{ noticia.titulo }}</h1>
                <hr>
                <p class="lead">{{ noticia.descripcion }}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn Faster">
    <h4 class="alert-heading">Cargando...</h4>
    <p>
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>